@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<style>
    h1 {
        text-align: center;
        font-size: 24px;
        margin-top: 50px;
    }

    div {
        max-width: 600px;
        margin: 0 auto;
        background-color: #f9f9f9;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
</style>

<div>
    <h1>Sorry, you can't order, because you are below 16! Come back when you grow up! :)</h1>
</div>
