@* @model MVCProject_.Models.User

@{
    Layout = null;
}

<!doctype html>
<html>
<head>
    <title>Display User Data</title>
    <meta charset="utf-8" />
</head>
<body>
    <h1>User Data</h1>
    <p>Name: @Model.Name</p>
    <p>Age: @Model.Age</p>   
</body>
</html> *@